
div#topdiv {
        position: fixed;
        top: -25px;
        left: 0px;
        width: 100%;
        background:#F5B041;
        padding: 2px;
        text-align: center;
}

div#bottomdiv {
        position: fixed;
        bottom: -5px;
        background: #D35400;
        left: -20px;
        width: 100%;
        padding: 8px;
        text-align: center;
}